name: Android Signing

on:
  push:
    branches: [ main ]
  pull_request:
  workflow_dispatch:

concurrency:
  group: flutter-${{ github.ref }}
  cancel-in-progress: true

env:
  FLUTTER_CHANNEL: stable
  JAVA_VERSION: '17'

jobs:
  android_web:
    name: Android
    runs-on: macos-26

    steps:
      - uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: zulu
          java-version: ${{ env.JAVA_VERSION }}

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: ${{ env.FLUTTER_CHANNEL }}
          cache: true

      - name: Install dependencies
        run: flutter pub get
        
      - name: Decode keystore from ENV
        run: |
          mkdir -p android/app
          export KS_BASE64="${{ secrets.ANDROID_KEYSTORE_BASE64 }}"
          echo "$KS_BASE64" | base64 -D > android/app/release.jks
          ls -lh android/app/release.jks
      
      - name: Create key.properties
        run: |
          echo "storePassword=${{ secrets.ANDROID_KEYSTORE_PASSWORD }}" > android/key.properties
          echo "keyPassword=${{ secrets.ANDROID_KEY_PASSWORD }}" >> android/key.properties
          echo "keyAlias=${{ secrets.ANDROID_KEY_ALIAS }}" >> android/key.properties
          echo "storeFile=app/release.jks" >> android/key.properties
      
      - name: Check keystore
        run: ls -lh android/app/ && sleep 5

      - name: Build Android APK
        run: flutter build apk
